form {
  padding: 8% 0 0;
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 800px;
  margin: 40px auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

label{
    color: #1fb6f1;;
    float: left;
  }

  input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }

  textarea {
    font-family: sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    height: 200px;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    resize: none;
  }
  
  .button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: rgb(31, 182, 241);
    border: 0;
    padding: 15px 30px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;

    &[disabled]{
      background: #999;

      &:hover {
        background: #999;
      }
    }
  
    &:hover {
      background: #3FCC59;
    }
  }
  
  input.invalid,
  textarea.invalid{
    border-bottom: 3px solid tomato !important;
  }
  
  label.invalid{
    color: tomato !important;
  }