<form [formGroup]="articleForm">
  <label for="title" [ngClass]="{ 'invalid': submitted && f.title.errors }">Title *</label>
  <input
    [ngClass]="{ 'invalid': submitted && f.title.errors }"
    id="title"
    name="title"
    formControlName="title"
    required
    type="text"
    placeholder="Title">
  <label for="author" [ngClass]="{ 'invalid': submitted && f.author.errors }">Author *</label>
  <input
    [ngClass]="{ 'invalid': submitted && f.author.errors }"
    id="author"
    name="author"
    formControlName="author"
    required 
    type="text" 
    placeholder="Author">
  <label for="urlToImage" [ngClass]="{ 'invalid': submitted && f.urlToImage.errors }">Url to image</label>
  <input
    [ngClass]="{ 'invalid': submitted && f.urlToImage.errors }" 
    id="urlToImage" 
    name="urlToImage"
    formControlName="urlToImage" 
    type="text" 
    placeholder="url To Image">
  <label for="content" [ngClass]="{ 'invalid': submitted && f.content.errors }">Content *</label>
  <textarea 
    [ngClass]="{ 'invalid': submitted && f.content.errors }"
    id="content" 
    name="content"
    formControlName="content"
    required 
    placeholder="Content">
  </textarea>
  <label for="description" [ngClass]="{ 'invalid': submitted && f.description.errors }">Description *</label>
  <textarea
    [ngClass]="{ 'invalid': submitted && f.description.errors }"
    id="description"
    name="description"
    formControlName="description"
    required
    placeholder="Description">
  </textarea>
  <button class="button" [disabled]="articleForm.invalid" (click)="onSubmit()">Save</button>
  <a class="button" [routerLink]="backLink">Back</a>
</form>