.source__item {
  background: none;
  border: 2px solid #30C5FF;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
  color: #70D6FF;
  transition: 0.25s;
  cursor: pointer;
  white-space: nowrap;
  text-decoration: none;

  &:hover {
    border-color: #3FCC59;
    color: #69DB7E;
    box-shadow: 0 0.5em 0.5em -0.4em #3FCC59;
    transform: translateY(-0.25em);
  }

  &:focus {
    border-color: #3FCC59;
    color: #69DB7E;
  }

  .source-name {
    font-weight: 400;
    white-space: nowrap;
  }
}