$font:sans-serif;
$animation:0.3s all ease;

.no-data{
  font-size: 30px;
  font-weight: 100;
  color: rgba(255,255,255,0.3);
  text-align: center;
}

.load-more-btn {
  width:100px;
  height:100px;
  text-align:center;
  text-transform:uppercase;
  letter-spacing:2px;
  font-weight:bold;
  position:relative;
  border: 0;
  background-color: transparent;
  color:#aaa;
  text-decoration:none;
  transition:$animation;
  display: flex;
  margin: 60px auto;
  cursor: pointer;

  &:hover {
    color:rgb(31, 182, 241);
  }
  &:focus {
    text-decoration:none;
  }
  &:active {
    color:#FFF;
  }

  &:after {
    transition:$animation;
    content:'';
    position:absolute;
    left:0;
    top:0;
    bottom:0;
    right:0;
    border-radius:3px;
    border:3px solid rgb(31, 182, 241);
  }
  &:before {
    content:'';
    position:absolute;
    border-radius:3px;
    left:0;
    top:0;
    bottom:0;
    right:0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    background: #fff;
    z-index:-1;
  }
  &:hover {
    &:after {
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
  &:active {
    -webkit-transform:scale(1.1);
    transform:scale(1.1);
    &:before {
      background-color:rgb(31, 182, 241);;
    }
    &:after {
      border-color:rgb(31, 182, 241);;
    }
  }
}