.hide-scroll{
  height: 120px;
  overflow-y: hidden;
  position: relative;

  &:after,
  &:before{
    content: '';
    display: block;
    height: 100%;
    width: 1px;
    background-color: white;
    position: absolute;
    top: 10px;
  }
  &:before{
    left: 0;
  }
  &:after{
    right: 0;
  }
}

.sources{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 140px;
    overflow: auto;
    align-items: center;
    font: 300 1em "Fira Sans", sans-serif;
  
    .source{
      &__item {
        background: none;
        border: 2px solid #30C5FF;
        font: inherit;
        line-height: 1;
        margin: 0.5em;
        padding: 1em 2em;
        color: #70D6FF;
        transition: 0.25s;
        cursor: pointer;
  
        &:hover,
        &:focus {
          border-color: #3FCC59;
          color: #69DB7E;
          box-shadow: 0 0.5em 0.5em -0.4em #3FCC59;
          transform: translateY(-0.25em);
        }
  
        &-name {
          font-weight: 400;
          white-space: nowrap;
        }
      }
    }
}