footer {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;
  
    .copyright {
      font-size: 14px;
      color: #333;
      text-align: center;
  
      &:before {
        content:'© ';
      }
    
      a{
        color: #444;
    
        &:hover {
          color: #555;
        }
      }
    }
  }