.hide-scroll{
  height: 120px;
  overflow-y: hidden;
  position: relative;

  &:after,
  &:before{
    content: '';
    display: block;
    height: 100%;
    width: 2px;
    background-color: rgba(225, 225, 225, 0.2);
    position: absolute;
    top: 10px;
  }
  &:before{
    left: 0;
  }
  &:after{
    right: 0;
  }
}

.sources-list{
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  height: 140px;
  overflow: auto;
  align-items: center;
  font: 300 1em "Fira Sans", sans-serif;
}