* {
  box-sizing: border-box;
}

html,
body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

body {
    color: #fff;
    background: #17181c;
    font-family: sans-serif;
}

template {
  display: none;
}

header {
  padding: 10px 30px;
}

header h1 {
  font-size: 40px;
  font-weight: 800;
}

main {
  flex: 1 0 auto;
}

footer {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;

  .copyright {
    font-size: 14px;
    color: #333;
    text-align: center;

    &:before {
      content:'© ';
    }
  
    a{
      color: #444;
  
      &:hover {
        color: #555;
      }
    }
  }
}

.spinner{
  display: block;
  margin: 0 auto;
}

.news__spinner{
  margin: 50px auto;
}

.hidden{
  display: none;
}

.carousel{
  overflow: hidden;
  position: relative;
  padding: 0 50px;

  &:after,
  &:before{
    content:'';
    width: 50px;
    height: 100%;
    //background-color: white;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }

  &:before{
    left: 0;
    background-image: linear-gradient(to right,rgba(255, 255, 255,0.3) , rgba(0,0,0,0));
    border-left: 1px dotted white;
  }

  &:after{
    right: 0;
    background-image: linear-gradient(to left, rgba(255, 255, 255,0.3) , rgba(0,0,0,0));
    border-right: 1px dotted white;
  }
}