<div class="sub-nav">
  <div class="filter">
    <form id="filterForm" [formGroup]="filterForm" novalidate (ngSubmit)="onFilterSubmit()">
      <fieldset>
        <input 
          type="text"
          placeholder="Filter"
          id="filterValue"
          name="filterValue"
          formControlName="filterValue"/>
        <button class="button">Filter</button>
      </fieldset> 
    </form>   
  </div>
  <form id="ckeckboxForm" [formGroup]="ckeckboxForm" novalidate *ngIf="isAuthorised">
    <input
      class="{{ckeckboxForm.value.check ? 'checked' : '' }}"
      id="check"
      name="check"
      type="checkbox"
      formControlName="check"
      (click)="onCheckboxClick(ckeckboxForm)" >
    <label class="checkbox-label" for="check"><span></span>Only created by me</label>
  </form>
  <a class="button" [routerLink]="'../add'" *ngIf="isAuthorised">Add article</a>
</div>
  