.sub-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 70px;
    flex-wrap: wrap
}
.button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: rgb(31, 182, 241);
    border: 0;
    padding: 15px 30px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
  
    &:hover {
      background: #3FCC59;
    }
  }
  
  
.checkbox-label {
  display: inline-block; // to make it easier to click
  color: #fff;
  cursor: pointer;
  position: relative; // important

  // Now we'll create the checkbox object

  span {
    display: inline-block;
    position: relative;
    background-color: transparent;
    width: 25px;
    height: 25px;
    transform-origin: center;
    border: 2px solid #fff;
    vertical-align: -6px;
    margin-right: 10px;
    transition: background-color 150ms 200ms, transform 350ms cubic-bezier(.78,-1.22,.17,1.89); // custom ease effect for bouncy animation

// Now we'll create the "tick" using pseudo elements - those will be basically two lines that will be rotated to form the "tick"

  &:before {
    content: "";
    width: 0px;
    height: 2px;
    border-radius: 2px; // so that the tick has nice rounded look
    background: #fff;
    position: absolute;
    transform: rotate(45deg);
    top: 10px; // you'll need to experiment with placement depending on the dimensions you've chosen
    left: 6.5px; // you'll need to experiment with placement depending on the dimensions you've chosen
    transition: width 50ms ease 50ms;
    transform-origin: 0% 0%;
  }

  &:after {
    content: "";
    width: 0;
    height: 2px;
    border-radius: 2px; // so that the tick has nice rounded look
    background: #fff;
    position: absolute;
    transform: rotate(305deg);
    top: 14px; // you'll need to experiment with placement depending on the dimensions you've chosen
    left: 8px; // you'll need to experiment with placement depending on the dimensions you've chosen
    transition: width 50ms ease;
    transform-origin: 0% 0%;
  }
}
// Time to add some life to it

&:hover {
  span {
    &:before {
      width: 5px;
      transition: width 100ms ease;
    }
    
    &:after {
      width: 10px;
      transition: width 150ms ease 100ms;
    }
  }
}
}

input[type="checkbox"] {
display: none; // hide the system checkbox
&:checked {
  + label {
    span {
      background-color: #fff;
      transform: scale(1.25); // enlarge the box
      
      &:after {
        width: 10px;
        background: rgb(31, 182, 241);
        transition: width 150ms ease 100ms; // enlarge the tick
      }
      
      &:before {
        width: 5px;
        background: rgb(31, 182, 241);
        transition: width 150ms ease 100ms; // enlarge the tick
      }
    }
    
    &:hover { // copy the states for onMouseOver to avoid flickering
      span {
        background-color: #fff;
        transform: scale(1.25); // enlarge the box

        &:after {
          width: 10px;
          background: rgb(31, 182, 241);
          transition: width 150ms ease 100ms; // enlarge the tick
        }

        &:before {
          width: 5px;
          background: rgb(31, 182, 241);
          transition: width 150ms ease 100ms; // enlarge the tick
        }
      }  
    }
  }
}
}

fieldset{
  border: none;
}

input {
  font-family: sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 200px;
  border: 0;
  padding: 15px;
  font-size: 14px;
}

input + .button {
  margin: 0;
}
  