* {
    box-sizing: border-box;
  }
  
  html,
  body {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  body {
      color: #fff;
      background: #17181c;
      font-family: sans-serif;
  }
  
  .hidden{
    display: none;
  }

  main {
    flex: 1 0 auto;
  }
  
  